* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 65px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #672280, #a626d3);
}

header > img {
  width: 31px;
  margin: 0px 7px 0px 30px;
}

header > span {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: -2px;
  color: white;
}

main {
  background: yellow;
  flex-grow: 1;
}
