* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282d35;
  font-family: "Inter";
}

.header {
  background: #21222a;
  height: 91px;
  padding-left: 26px;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  width: 30px;
  margin-right: 7px;
}

.title {
  font-weight: 700;
  font-size: 23px;
  color: #94b5eb;
}

.main {
  padding-top: 57px;
  padding-left: 27px;
  color: white;
}

.h1 {
  margin: 0;
  font-size: 40px;
}

.list {
  margin-top: 46px;
}

.list > li {
  margin-bottom: 20px;
  line-height: 19px;
}
